@model Mnk.Models.Board_Availbality

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Board_Availbality</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Availability_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Availability_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
