@model Mnk.Models.Board_city

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Board_city</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Board_City_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board_City_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Board_City_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board_City_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Board_City_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board_City_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Board_City_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
