@model Mnk.Models.Gallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gallery_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Gallery_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
